@import "tailwindcss";

@theme {
  --color-darkPurple: #29194a;
  --color-brandOrange: #ff9554;
  --color-lightBg: #f5f5f7;
  --color-lightBlue: #e8f1ff;
}

body {
  background-color: var(--color-lightBg);
}
